<h5 class="modal-title">Add a movie to your <%= @list.name %> list</h5>
<% @list.movies.each do |movie| %>
  <p><%= movie.title %></p>
<% end %>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.all.order(:title), prompt: "Select a movie", input_html: { data: { controller: "tom-select" } } %>
  <%= f.input :comment, placeholder: "Enter a comment about the movie" %>
  <%= f.submit "Add movie", class: "btn btn-flat" %>
<% end %>

# colocar botao para voltar
